/*logo*/
.menu .logo .side{
  width:35px;
}
#diving .light.following.bar {
    padding: 0.6em 0em;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
}
#diving .following.bar {
    position: fixed;
    top: 0px;
    z-index: 900;
    left: 0%;
    padding: 1.2em 0em;
    width: 100%;
    box-shadow: 0px 0px 0px 0px transparent;
    border-bottom: 1px solid transparent;
    transition: padding 0.5s ease,
   background 0.5s ease,
   box-shadow 0.5s ease,
   border 0.5s ease;
}
#diving .first-sec:after {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    background-size: cover;
    opacity: 0.45;
}
#diving .first-sec {
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 0em;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 0px;
    border-bottom: none;
    background-color: #000000;
    background-position: 50% 50%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
#diving .first-sec:after {
    background-image: url("http://www.semantic-ui.cn/images/backgrounds/12.jpg");
}
#diving .first-sec, #diving .first-sec:after {
    -ms-transition: background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
 opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    -moz-transition: background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
 opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    -webkit-transition: background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
 opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    transition: background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
 opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
}
#diving .first-sec{

}
#diving .first-sec-bg{
    height: 490px;
}
#diving .first-sec-bg img{
    width:100%;
    height: 496px;
}
// search-bar
.ui.search-bar{
   padding-bottom: 20px;
}
