@import "common.scss";
/*logo*/
body{
  background-color: #fff;
  min-width: 1024px;
}
.menu .logo .side{
}

#product .following.bar {
    // display: none;
    position: fixed;
    top: 0px;
    z-index: 900;
    left: 0%;
    width: 100%;
    box-shadow: 0px 0px 0px 0px transparent;
    border-bottom: 1px solid transparent;
    transition: padding 0.5s ease,
    background .2s ease;
}
#product .light.following.bar {
    padding: .6em .8em;
    border-bottom: 1px solid #DDDDDD;
    background-color: rgba(255,255,255,.9);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
    z-index: 99;
}
#product .light.following.bar .blurring-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.9);
  -webkit-filter:blur(10px);
}

#product .light.following.bar .menu{
  margin-top: 0;
}
#product .light.following.bar .item{
  height: 60px!important;
}
#product .following.bar .right.menu .item{
  margin: 0;
}
#product .light.following.bar .light{
    display: none;
}
#product .light.following.bar .black{
    display: block;
}
#product .following.bar .light{
    display: block;
}
#product .following.bar .black{
    display: none;
}
/*移动端header*/
@media only screen and (max-width: 768px){
  #product .following.bar{
    position: absolute;
    top: 0;
    padding: .4em;
  }
  #product .light.following.bar {
    padding: .2em .4em !important;
  }
   #product .following.bar .menu{
      margin-top: .4em;
  }
  #product .following.bar .ui.logo{
    /*padding-top: .1em;*/
  }
  .menu .logo .side {
    width: 160px;
  }
  #product .following.bar .right.menu{
    margin-top: -2.6em;
    padding: 0 .4em;
    font-size: 12px;
    /*display: none;*/
  }
  #product .following.bar .right.menu .item{
    margin: 0 4px;
  }
  #product .following.bar .item{
    padding: 0;
  }
}
// 头图
#product .first-sec {
  // display: none;
    position: relative;
    overflow: hidden;
    padding: 0em;
    margin-top:62px;
    margin-bottom: 0px;
    border-bottom: none;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    // background-color: #000000;
    background-position: 50% 50%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
#product .first-sec img{
    display: block;
    width:100%;
    min-height:500px;
}
@media only screen and (max-width: 767px){
  #product .first-sec img{
      width:100%;
      min-height:280px;
  }
}

#product {
  .grid-sec{
    margin: 1rem 0;
    background-color: #edefed;
  }
  .ui.grid .p70.column{
    width: 70%;
  }
  .ui.grid .p30.column{
    width: 30%;
  }
  .ui.grid .p50.column{
    width: 50%;
  }
}
#product .second-sec{
  // display: none;
    position: relative;
    background-color: #fff;
    .p70.left.column{
      .ui.header{
        color: #565a5c;
        margin:  1.2rem 0 1rem;
      }
      .icon{
        &.marker{
          font-size: 20px;
          color: #57CFB4;
        }
      }
      .rating{
        vertical-align:text-top;
        margin-left: 6px;
        margin-bottom: .7rem;
      }
    }
    .p30.right.column{
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      &>.ui.label{
        position: absolute;
        top: -2.2em;
        left: 0;
        width: 100%;
        font-size: 16px;
        color: #fff;
        background-color: #3A3F42;
        border-radius: 0;
      }
    }
}
#product .third-sec{
    padding-top: 2rem;
   .p70.character {
     p{
       width: 49%;
       float:left;
       &.streched{
         width: 100%;
         float: none;
         clear: left;
       }
     }
   }
   .p70.description{
      .content{
        height: 210px;
        overflow: hidden;
        &.expand{
          height: auto;
          overflow: visible;
          &+.more{
            display: none;
          }
        }
      }
      .more{
        cursor: pointer;
        i{
          font-size: 14px;
          font-weight: bold;
        }
        color: #1bbc9b;
      }
   }
   .maps.row{
      img{
        width: 100%;
        display: block;
      }
   }
   .images.row{
        .column{
          font-size: 0;
        }
       img{
         width: 100%;
         height: 149px;
         display: block;
       }
       .ui.image{
         display: none;
       }
       .ui.image:first-child{
         display: inline-block;
         width: 100%;
         img{
           height: auto;
         }
       }
       .ui.image:nth-child(2){
           font-size: 0;
           width: 33.12%;
           display: inline-block;
           padding-left: 0;
           padding-top: 3px;
           vertical-align: top;
       }
       .ui.image:nth-child(3){
         padding-left: 4px;
         @extend .ui.image:nth-child(2);
       }
       .ui.image:nth-child(4){
         @extend .ui.image:nth-child(2);
         &.more{
           padding-left: 0;
           padding-top: 0;
           margin-left: 4px;
           margin-top: 3px;
           .ui.dimmer{
             z-index: 1;
           }
         }
         .ui.header{
           font-size: 1.4rem;
           color: #fff;
         }
       }
   }
   .diving-sites.row{
     .row .ui.image{
       aside{
         position: absolute;
         top: 60%;
         left: 0;
         padding-left:.5rem ;
         padding-right:1rem ;
         color: #fff;
         font-size: 16px;
         line-height: 32px;
          background-color:#444742;
       }
       p{
         padding-left: 1em;
         margin-bottom:-.8rem;
         margin-top: 1rem;
         color: #565a5c;
         span{
           color:#82888a;
         }
       }
     }
   }
   &>.ui.container>.ui.grid>.p30.right{
     padding: 2rem 0 0 0;
     .ui.form{
       padding: .5rem 1.2rem 0;
       border:1px solid #dce0e0;
       background-color: #fff;
       &>span{
         line-height: 3em;
       }
       .ui.submit.button{
         background-color: #1bbc9b;
       }
     }
   }
}
.large-image-sec{
  position: fixed;
  z-index: 10009;
  background-color: rgb(10, 10, 10);
  height: 100%;
  width: 100%;
  left: 0;
  top: 100%;
  .ui.arrow{
    position: absolute;
    top: 45%;
    z-index: 1100;
    font-size: 70px;
    font-weight: 100;
    color: rgba(140, 175, 199, 0.88);
    cursor: pointer;
    &.left{
      left: 1.6%;
      i{
            text-shadow: -12px 2px 20px rgba(0,0,0,.9);
      }
    }
    &.right{
      right: 1.6%;
      i{
            text-shadow: 12px 2px 20px rgba(0,0,0,.9);
      }
    }
  }
  .close{
    position: absolute;
    z-index: 1200;
    right: -2px;
    top: 10px;
    color: #ccc;
    font-size: 44px;
    font-weight: 100;
    cursor: pointer;
  }
  #maskcontent {
    	position: absolute;
    	z-index: 1009;
    	top: 45px;
    	bottom: 48px;
    	left: 0;
    	width: 100%;
    	overflow: hidden;
  }
  #scroller{
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgb(10, 10, 10);
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    ul{
      list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
      li{
          display: block;
          float: left;
          width: 10%;
          height: 100%;
          /* border-right: 1px solid #ccc; */
          font-size: 14px;
          &>div{
            padding: 5px;
            color: #fff;
            line-height: 500px;
            width: 100%;
            height: 100%;
            background: no-repeat center;
            background-size: contain;
            box-sizing: border-box;
            .ui.loader{
              width: 50px;
              height: 50px;
              font-size: 18px;
            }
          }
      }
    }
  }
}


#product {
  .first-sec,.second-sec,.footer-sec,.following.bar,.ui.form,.p70.left>div>.row:not(.column),.diving-sites,.maps{
    // display: none;
  }
}
