<header class="ui following bar sticky">
      <div class="ui  menu ">
        <div class="item">
          <div class="ui logo shape">
            <div class="sides">
              <div class="active ui side">
                <img class="ui  image"  src="/images/logo-black.png">
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="ui transparent left icon input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
          </div>
        </div>
        <div class="right  menu">
          <div class="item">Sign Up</div>
          <div class="item">Sign In</div>
        </div>
      </div>
  </header>