@import "common.scss";
/*logo*/
body{
  background-color: #f5f5f5;
  min-width: 1024px;
}
.menu .logo .side{
}
#search .following.bar {
    // display: none;
    position: fixed;
    top: 0px;
    z-index: 901;
    left: 0%;
    width: 100%;
    box-shadow: 0px 0px 0px 0px transparent;
    border-bottom: 1px solid transparent;
    transition: padding 0.5s ease,
    background .2s ease;
}
#search .light.following.bar {
    padding: .6em .8em;
    border-bottom: 1px solid #DDDDDD;
    background-color: rgba(255,255,255,.9);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
    z-index: 99;
}
#search .light.following.bar .blurring-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.9);
  -webkit-filter:blur(10px);
}

#search .light.following.bar .menu{
  margin-top: 0;
}
#search .light.following.bar .item{
  height: 60px!important;
}
#search .following.bar .right.menu .item{
  margin: 0;
}
#search .light.following.bar .light{
    display: none;
}
#search .light.following.bar .black{
    display: block;
}
#search .following.bar .light{
    display: block;
}
#search .following.bar .black{
    display: none;
}

#search {
.see-more-button{
  padding: 1em 0;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.see-more-button button{
  width:300px;
  background-color: #fff!important;
  border-color: #cacbca!important;
}
.see-more-button button:hover{
  color:#fff!important;
  background-color: #18ab8d!important;
  border-color: #18ab8d!important;
}
.ui.section.divider{
  display: none;
}
.s-condition{
    height: 264px;
    overflow: hidden;
    padding-top: 80px;
    transition: all 300ms ease;
    -webkit-transition:all 300ms ease;
    background-color: #fff;
    &.open{
      height: auto;
    }
    .ui.divider{
      margin: 1.5rem 0 !important;
    }
    .weizhi{
      .twelve.wide.column{
        padding-left: .5rem;
        padding-bottom: 0;
      }
    }
}
.s-condition.open+.filter-buttons {
  .filter{
    display: none;
  }
  .apply-buttons{
    display: block;
  }
}
.filter-buttons{
  padding-top: 1rem;
  background-color: #f5f5f5;
  .apply-buttons{
    display: none;
  }
  button{
    padding: 4px 10px;
    color:#55595A;
    font-weight: bold;
    border: 1px solid #ccc;
    background-color: #fff;
    outline: none;
    border-radius: 2px;
  }
  .apply-buttons{
    margin-top: 1rem;
    button{
      padding: 6px 12px;
      width: 120px;
      &.active{
          background-color:#1BBC9B;
          margin-right: 1rem;
          border: none;
          color: #fff;
      }
    }
  }
}
.s-results{
  padding: 1rem 0 ;
  background-color: #F5F5F5;
  .ui.header{
    color: #565a5c;
    padding-left: 0;
  }
  .result-item{
    padding-bottom: 1rem;
    .ui.divider{
      margin-bottom: -.5rem;
    }
  }
  .current-site{

    .w67.wide.column{
      margin-top: 1.5rem;
      .ui.header{
        margin-bottom: .5rem;
      }
      .ui.image{
        width: 100%;
        img{
          max-height: 400px;
          width: 100%;
        }
        .ui.dimmer{
          background-color: rgba(0,0,0,0)!important;
          .content:hover{
             transform: scale(1);
             -webkit-transform:scale(1);
           }
        }
        .ui.icon{
          font-size: 38px;
        }
      }
    }
    .w33.wide.column{
      .ui.header{
        margin-top: 3.7rem;
      }
      p{
        font-size: 16px;
      }
      .ui.image{
        margin-top: .52rem;
      }
    }
  }
  .diving-sites.row{
    .ui.header{
      margin-top: 2rem;
      margin-bottom: .6rem;
    }
    .row .ui.image{
      img{
        height: 230px;
      }
      aside{
        position: absolute;
        top: 60%;
        left: 0;
        padding-left:.5rem ;
        padding-right:1rem ;
        color: #fff;
        font-size: 16px;
        line-height: 32px;
         background-color:#444742;
      }
      p{
        padding-left: 1em;
        margin-top: .8rem;
        margin-bottom: .2rem;
        color: #565a5c;
        font-size: 1.1em;
        span{
          color:#82888a;
        }
        &:last-child{
          font-size: 1em;
          margin-top:0;
          margin-bottom: 1rem;
        }
      }
    }
  }
}


}
